<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    RewriteRule ^(.*)$ public/$1 [L]

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>


# Hindi kasi maacces ng server yung auth
# kaya kaya nilagay ito 
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Allow-Methods "*"
    Header set Access-Control-Allow-Headers "Content-Type,X-Amz-Date,Authorization, Devicetoken, Deviceid"
    Header set Access-Control-Request-Headers "X-Requested-With, accept, content-type, Authorization, Devicetoken, Deviceid"
</IfModule>