.partner-message{
    background: linear-gradient(47.27deg, #000066 -48.96%, #00CCFF 139.76%);
    color: #ffffff;
    border-radius: 8px 8px 0px 8px;
    padding: 15px !important;
}

.admin-message{
    background: #FFFFFF;
    color: #2C2C39;
    border-radius: 8px 8px 8px 0px;
    padding: 15px !important;
}

.message-image{
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.message-box{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-message{
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none !important;
    &:focus{
        outline: none;
    }
}

textarea {
    font-size: 16px;
    border: none !important;
    resize: none;
    &:focus{
        outline: none;
    } 
}

.dropdown-item{
    &:hover{
        background-color: transparent !important;
    }
    &:focus{
        outline: none;
    }
}

.dropdown-menu{
    font-size: 14px !important;
    right: -55px !important;
    left: unset !important; 
    border-radius: 13px;
    box-shadow: 0px 4px 40pxrgba(0, 0, 0, 0.05);
    margin-top: 10px;
    text-align: center !important;
    background: #2C2C39 !important;
    min-width: 136px !important;
    &::before{
        content: "";
        width: 15px;
        height: 30px;
        border-bottom: solid 10px #a8a8a8;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent;
        position: absolute;
        top: -30px;
        right: 61px;

    }
    &::after{
        content: "";
        width: 15px;
        height: 30px;
        border-bottom: solid 10px#2C2C39;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent;
        position: absolute;
        top: -30px;
        right: 61px;
    }
}

#button-basic{
    &:focus{
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.message-list{
    padding: 20px 20px !important;
    cursor: pointer;
    &:hover{
        background-color: #FAFBFD !important;
    }
}

// ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
// }
// ::-webkit-scrollbar-thumb {
// background-color: #C0024A;
// outline: 1px solid #C0024A;
// }

