<div class="container">
    <div class="row d-flex flex-column pl-15 pt-30 pb-30 pr-0">
        <span class="back-page">
            <a class="c-pointer text-black" (click)="viewList()" style="text-decoration: none;">
                <svg width="18" height="12" viewbox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 5H3.83L7.41 1.41L6 0L0 6L6 12L7.41 10.59L3.83 7H18V5Z" fill="#C70039" stroke="#C70039" stroke-width="0"/>
                </svg>
                <span class="mr-15 ml-10 fs-16 text-safari" style="color:#C70039;" routerLink = "/admin/price-checks-list">Back to List</span>
            </a>    
        </span>
        <div class="mt-20 d-flex align-items-center justify-content-between">
            <span class="text-header fs-24 fw-700 text-safari">Price Check Details</span>
            <span class="text-secondary fs-14">Date & Time Created:{{job_order_details.create_at | transformDate: '' : 'lll'}}</span>
        </div>
    </div>
    <div class="container bg-white">
        <div class="p-20">
            <div class="row d-flex flex-column" style="padding: 20px 15px !important;">
                <div>
                    <p class="fs-16 fw-700 text-header text-safari">General Details</p>
                </div>
                <div class="row d-flex flex-column">
                    <div class="mt-30">
                        <div class="col-md-12">
                            <p class="fs-14 fw-400 text-secondary">Client</p>
                            <div class="d-flex align-items-center">
                                <img class="w-30 h-30 rounded-circle object-fit-cover mr-8" src="{{userService.image_path}}/company_logo/{{job_order_details.partner_logo}}">
                                <span class="text-detail fs-16 ml-10">{{job_order_details.partner_company}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-30">
                        <div class="col-md-4">
                            <div>
                                <p class="fs-14 fw-400 text-secondary">Project Name</p>
                                <span class="fs-16">{{job_order_details.job_order_project_name}}</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <p class="fs-14 fw-400 text-secondary">Due Date</p>
                                <span class="fs-16">{{job_order_details.job_order_due_date |  transformDate: '' : 'L' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-30">
                        <div class="col-md-4">
                            <div>
                                <p class="fs-14 fw-400 text-secondary">Shipping Address</p>
                                <p class="fs-16 fw-700 text-safari">{{job_order_details.company_address_label}}</p>
                                <span class="fs-16">{{job_order_details.company_address}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-30">
                        <div class="col-md-4">
                            <div>
                                <p class="fs-14 fw-400 text-secondary">Contact Person</p>
                                <span class="fs-16">{{job_order_details.company_address_person_firstname}} {{job_order_details.company_address_person_lastname}}</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <p class="fs-14 fw-400 text-secondary">Contact Number</p>
                                <span class="fs-16">{{job_order_details.company_address_contact}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin: 0px -35px 30px -35px !important; border: 1px solid #C2CBD7;">
            <div class="row ml--20 mr--20">
                <div style="padding: 20px 15px 10px 15px !important; width: 100%;">
                    <p class="fs-16 fw-700 text-safari">Quotation Details</p>
                    <table class="table-borderless w-100-per">
                        <thead>
                            <tr>
                              <th class="text-secondary text-safari w-30-per">Item</th>
                              <th class="text-secondary text-safari w-15-per">Dimensions</th>
                              <th class="text-secondary text-safari w-10-per tC">Qty</th>
                              <th class="text-secondary text-safari w-20-per tR">Unit Price</th>
                              <th class="text-secondary text-safari w-25-per tR">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let job_order of job_order_item_list">
                                <td class="fs-16">({{job_order.machine_print}}) {{job_order.product_media}}</td>
                                <td class="fs-16">
                                    <span class="fs-16" *ngIf="job_order.job_order_item_unit == 0">{{job_order.job_order_item_width}} in x {{job_order.job_order_item_length}} in</span>
                                    <span class="fs-16" *ngIf="job_order.job_order_item_unit == 1">{{job_order.job_order_item_width}} ft x {{job_order.job_order_item_length}} ft</span>
                                </td>
                                <td class="fs-16 text-center">{{job_order.job_order_item_qty}}</td>
                                <td class="fs-16 text-right">{{job_order.job_order_item_price | currency }}</td>
                                <td class="fs-16 text-right">{{job_order.total_price | currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr class="mb-0" style="border: 2px dashed #C2CBD7 !important; border-top: none !important;">
                    <div class="col-md-4 pr-0 offset-8">
                        <div class="paper_rip">
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                    <span class="fs-16 fw-700 text-secondary text-safari">Subtotal</span>
                                    <span class="fs-16 fw-700 ml-auto text-safari" style="color: #0A0929;">{{subTotal | currency}}</span>
                                </div>
                                <!-- <div class="d-flex mt-15">
                                    <span class="fs-16 fw-700 text-secondary">VAT(12%)</span>
                                    <span class="fs-16 fw-700 ml-auto" style="color: #0A0929;">{{vat | currency}}</span>
                                </div> -->
                                <div class="d-flex mt-25">
                                    <span class="fs-16 fw-700 text-secondary text-safari">Total</span>
                                    <span class="fs-24 fw-700 text-primary ml-auto text-safari text-total_safari">{{gross | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>