<div class="container mt-30">
    <button class="button-purple-transparent text-safari" [routerLink]="['/admin/admin_cms']"><img src="assets/images/arrow_right_pink.png">Back List</button>
    <h3 class="font-weight-bold mt-30 text-safari" style="color: #0A0929;">Privacy Policy</h3>
</div>


<div class="container">
    <div class="row">
        <div class="card col-md-7">
            <div class="card-body" style="box-shadow: none;">  
                <form [formGroup]="privacyPolicyForm">               
                <div class="col-md-12">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Update Content</p>
                        <div class="form-group" style="overflow-y: scroll; max-height: 400px;">
                            <ckeditor [editor]="Editor" [(ngModel)]="privacyPolicy" formControlName="privacy_content" ></ckeditor>
                            <div class="form-validator" *ngIf="privacyPolicyForm.controls.privacy_content.touched">
                                <p class="mb-0" style="color: red" *ngIf="privacyPolicyForm.controls.privacy_content.hasError('required')">*This field is required</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row moz-row">
                    <div class="col-md-3 ">
                        <p>Last Updated</p>
                        <p>{{privacyData.updated_at | transformDate: '': 'L'}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Updated By</p>
                        <p>{{privacyData.user_profile_first_name}} {{privacyData.user_profile_last_name}}</p>
                    </div>
                    <div class="col-md-2">
                        <button class="button-white" [routerLink]="['/admin/admin_cms']">Cancel</button>
                    </div>
                    <div class="col-md-3">
                        <button (click)="updatePrivacyPolicy()"  class="button-purple-rounded  fs-16 lh-24 h-46 fw-400">Save Changes</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <div class="card col-md-4 ml-10">
            <div class="col-md-12">
                <div class="form-group">
                    <p class="fs-14 fw-700 mt-20" style="color: #A6A6B1;"><img src="assets/images/visibility.png">  Preview</p>
                    <p class="fs-24 fw-800 text-safari" style="color: #181818;">Privacy Policy</p>
                    <div [innerHtml]="privacyPolicy" style="overflow-y: scroll; max-height: 400px; text-align: justify;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #success identifier="success" [customClass]="'modal-checkin-class nsm-centered'" closable="false">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M34 -1.03315e-06C52.7782 -1.03315e-06 68 15.2231 68 33.9992C68 52.7769 52.7782 68 34 68C15.2218 68 0 52.7769 0 33.9992C0 15.2231 15.2218 -1.03315e-06 34 -1.03315e-06Z" fill="#049561"/>
                <path d="M28.6585 40.4583L21.7085 33.5083L19.3418 35.8583L28.6585 45.175L48.6585 25.175L46.3085 22.825L28.6585 40.4583Z" fill="#00A651"/>
            </svg> 
        </div> 
        <div class="mt-30 d-flex justify-content-center">
            <p class="fs-20 fw-700 text-header">Privacy Policy Successfully Updated!</p>
        </div>
        <div class="mt-15 d-flex justify-content-center">
            <p class="fs-14 text-detail tC pl-100 pr-100">Privacy Policy has been successfully updated in our database.</p>
        </div>
        <div class="mt-15 d-flex justify-content-center">
            <button class="bttn btn-primary-pink d-flex align-items-center justify-content-center" (click)="closePrivacyModal()" >Go back to Website CMS</button>
        </div>     
    </div>
</ngx-smart-modal>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > loading... </p></ngx-spinner>