.media{
    .media-left{
        .dash-icon{
            height: 60px;
            width: 60px;
            padding: 15px;
            border-radius: 8px;
            border-radius: 50%;
            .icon{
                width: 30px;
                height: 30px;
            }
        }
    }
}

.card-footer{
    background: #FFE7F0 !important;
    border-radius: 0px 0px 8px 8px !important;
}

#investigate{
    fill: #FF6600;
}

.earnings{
    background: #FFFFFF;
    box-shadow: 0px 10px 28px rgba(181, 187, 192, 0.1);
    border-radius: 8px;
    height: 155px;
    border: 1px solid transparent;
    border-image: -webkit-gradient(
        linear,                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
        right top,
        left top,
        from(#FF6600),
        to(#FFFF00)
    );
    border-image: linear-gradient(to left,
        #FF6600,
        #FFFF00
    );
    border-image-slice: 1;
}

.total_earnings{
    font-size: 20px;
    font-weight: 800;
    background-image: linear-gradient(47.56deg, #FF6600 -21.35%, #FFFF00 143.78%) !important;
    background-clip: text;
    line-height: 30px;
    font-family: Manrope;
    -webkit-text-fill-color: transparent;
}

table{
    thead{
        border-radius: 0px;
        background-color: #fff;
        th{
            padding-bottom: 30px;
            background-color: #fff;
        }
    }
    tbody{
        tr{
            td{
                padding: 15px 0px !important;
                border:none !important;
                vertical-align: middle !important;
            }
        }
    }
}


.border-bottom{
    &:last-child{
        border-bottom: 1px solid #D1D9E3  !important;
    }
}

.view{
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    line-height: 14.35xp;
    font-weight: 600;
    color: #C0024A;
}

.partners-tb{
    font-family: Manrope;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #0A0929;
}

.most{
    font-family: Manrope;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #0A0929;
}