<div class="container mt-30">
    <button class="button-purple-transparent text-safari" [routerLink]="['/admin/admin_cms']"><img src="assets/images/arrow_right_pink.png">Back to List</button>
    <div class="row d-flex">
        <div class="col-md-8">
            <h3 class="font-weight-bold mt-30 text-safari" style="color: #0A0929;">Products</h3>
        </div>
        <div class="col-md-3 mt-18 ml-90">
            <button class="button-purple-rounded fw-700 text-safari" [routerLink]="['/admin/admin_add_new_product_cms']"><img src="assets/images/add.png">Add New Product</button>
        </div>
    </div>
</div>

<div class="container mt-20 p-20" style="background-color: #fff;">
    <div class="search" [formGroup]="searchForm" (keydown)="keyDownFunction($event)">
        <input type="text" placeHolder="Search" formControlName="search" class="input" (keyup)="searchKey($event)">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="search-icon" (click)="searchList();">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9649 11.2549H12.7549L17.7449 16.2549L16.2549 17.7449L11.2549 12.7549V11.9649L10.9849 11.6849C9.84488 12.6649 8.36488 13.2549 6.75488 13.2549C3.16488 13.2549 0.254883 10.3449 0.254883 6.75488C0.254883 3.16488 3.16488 0.254883 6.75488 0.254883C10.3449 0.254883 13.2549 3.16488 13.2549 6.75488C13.2549 8.36488 12.6649 9.84488 11.6849 10.9849L11.9649 11.2549ZM2.25488 6.75488C2.25488 9.24488 4.26488 11.2549 6.75488 11.2549C9.24488 11.2549 11.2549 9.24488 11.2549 6.75488C11.2549 4.26488 9.24488 2.25488 6.75488 2.25488C4.26488 2.25488 2.25488 4.26488 2.25488 6.75488Z" fill="#626172"/>
        </svg>            
    </div>
    <div *ngIf="isEmpty" class="col-md-12 mh-600 d-flex flex-column align-items-center justify-content-center">
        <img src="/assets/images/product_empty.svg">
        <p class="text-secondary fs-16 tC mt-20">No products yet.</p>    
    </div>  
    <table *ngIf="!isEmpty" class="table mt-40 w-100-per">
        <thead>
            <tr>
            <th class="text-dark w-10-per  c-pointer text-safari" (click)="sortList('cms_products_name', sort_type)">Project Name
                <i [ngClass]="(sort_column=='cms_products_name'&&sort_type=='DESC')?'fas fa-sort-up ml-10 c-pointer sortup':'fas fa-sort-down ml-10 c-pointer v-top'"></i>
            </th>
            <th class="text-dark w-12-per text-center c-pointer text-safari" (click)="sortList('cms_products_services_category', sort_type)">Service
                <i [ngClass]="(sort_column=='cms_products_services_category'&&sort_type=='DESC')?'fas fa-sort-up ml-10 c-pointer sortup':'fas fa-sort-down ml-10 c-pointer v-top'"></i>
            </th>
            <th class="text-dark w-15-per text-center c-pointer text-safari" >Action
            </th>
            </tr>
        </thead>
        <tbody *ngFor="let skeleton of skeleton_loader">
            <tr *ngIf="isLoaded">
                <td> <ngx-skeleton-loader [theme]="{width: '100%', height: '24px', margin: 0}"></ngx-skeleton-loader> </td>
                <td> <ngx-skeleton-loader [theme]="{width: '100%', height: '24px', margin: 0}"></ngx-skeleton-loader> </td>
                <td> <ngx-skeleton-loader [theme]="{width: '100%', height: '24px', margin: 0}"></ngx-skeleton-loader> </td>
                <td> <ngx-skeleton-loader [theme]="{width: '100%', height: '24px', margin: 0}"></ngx-skeleton-loader> </td>
                <td> <ngx-skeleton-loader [theme]="{width: '100%', height: '24px', margin: 0}"></ngx-skeleton-loader> </td>
                <td> <ngx-skeleton-loader [theme]="{width: '100%', height: '24px', margin: 0}"></ngx-skeleton-loader> </td>
            </tr>
        </tbody>
        <tbody *ngIf="!isLoaded">
            <tr *ngFor="let productList of product_list_details" class="table-dashboard c-pointer">
                <td class="fs-16 pt-20 pb-20">{{productList.cms_products_name}}</td>
                <td class="fs-16 pt-20 pb-20 text-center" >{{productList.cms_products_services_category}}</td>
                <td class="fs-16 pt-20 pb-20 text-primary" style=" outline-color: #fff;" routerLink="/admin/admin_edit_product_cms/{{productList.cms_products_id}}">
                    <div style="display: flex; justify-content: center;">
                        <img src="assets/images/edit_icon.png">  Edit Details
                    </div>
                </td>
            </tr>
        </tbody>
    </table>   

    <!--pagination-->

    <div class="row pt-30 d-flex">
        <div class="col-md-5 d-flex align-items-center">
            <span class="text-secondary">Showing</span> 
            <div class="btn-group h-50 ml-10 mr-10" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn-limit filterShow text-left d-flex justify-content-between align-items-center"
                 aria-controls="dropdown-basic"> 
                    <span>{{ limit }}</span>
                    <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"role="menu" aria-labelledby="button-basic">
                     <li role="menuitem"><button class="dropdown-item" *ngFor="let item of limits" (click)="setLimit(item)">{{ item }}</button></li>
                </ul>
            </div>
           <span class="text-secondary">of {{total}} entries</span>
        </div>
        <div class="col-md-6 ml-70">
            <div class="pr-3 d-flex justify-content-end align-items-center" style="text-align: right;">
                <button class="mr-5 page-btn" (click) = "prevPage()" [disabled] = "this.current_page == 1">
                    <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 5L3.83 5L7.41 1.41L6 1.04907e-06L-1.04907e-06 6L6 12L7.41 10.59L3.83 7L18 7L18 5Z" fill="#626172"/>
                        </svg>                        
                </button>                                
                <button class="page-btn text-secondary" style="white-space: nowrap;" (click) = "prevPage()" [disabled] = "this.current_page == 1">
                    Prev 
                </button> 
                <ng-container *ngFor="let item of pages_array">
                    <span class="pink-square page c-pointer page-number" (click) = "setPage(item)" [ngClass]="{'active': current_page == item}">{{ item }}</span>
                </ng-container>
                <button class="page-btn text-secondary" (click) = "nextPage()" [disabled] = "this.current_page == total_pages">Next</button>
                <button class="ml-5 page-btn" (click) = "nextPage()" [disabled] = "this.current_page == total_pages">
                    <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 7L14.17 7L10.59 10.59L12 12L18 6L12 0L10.59 1.41L14.17 5L0 5V7Z" fill="#626172"/>
                        </svg>                        
                </button>
            </div>
        </div>
    </div>
    </div>

