.button-purple-transparent{
    border-radius: 8px;
    background-color: transparent;
    border: 0px;
    color: #C0024A;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    outline-color: #fff;
}

.button-purple-rounded {
    outline: none;
    box-shadow: 0px 2px 20px 0px #f790b7;
    border-color: transparent !important;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #C0024A;
    border: none;
  }
  
  .button-purple-rounded:hover {background-color:#d42065}
  
  .button-purple-rounded:active {
    background-color: #C0024A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  table{
    thead{
        tr{
            th{
                vertical-align: text-top;
                background-color: #fff !important;
                padding-bottom: 15px;
                &:last-child{
                    border-top-right-radius: 0px !important;
                    border-bottom-right-radius: 0px !important;
                    overflow: hidden;
                }
                &:first-child{
                    border-top-left-radius: 0px !important;
                    border-bottom-left-radius: 0px !important;
                    overflow: hidden;
                } 
            }
        }
    }
    tbody{
        tr{
            td{
                vertical-align: middle;
            }
        }
    }
}

