<div class="container">
    <h3 class="text-header fs-24 fw-700 text-safari">Notification Management</h3>
    
    <div class="card mt-40">
        <div class="card-body">
            <form [formGroup]="notificationForm">
                <div class="d-flex flex-column" style="padding: 20px 0px;">
                    <p class="text-header fs-16 fw-700 mb-20 text-safari">Order Status</p>    
                    <div class="col-md-12">
                        <div class="form-group mt-30">
                            <label class="fs-14 text-detail text-safari" for="job_process">When the job order is being processed.</label>
                            <input type="text" 
                            autocomplete="off"
                            formControlName="job_processed" 
                            class="form-control" 
                            id="job_processed" 
                            [ngClass]="{'is-invalid':notificationForm.controls.job_processed.touched&&notificationForm.controls.job_processed.hasError('required')}"
                            />
                            <span style="font-style:italic"  class="text-secondary fs-12">Note: Do not remove "job_order_id" as this will display the job order number.
                            </span>
                            <div class="form-validator" *ngIf="notificationForm.controls.job_processed.touched">
                                <p class="mb-0" style="color: red" *ngIf="notificationForm.controls.job_processed.hasError('required')">*This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-30">
                        <div class="form-group">
                            <label class="fs-14 text-detail text-safari" for="job_delivered">When the job order is being processed.</label>
                            <input type="text" 
                            autocomplete="off"
                            formControlName="job_delivered" 
                            class="form-control" 
                            id="job_delivered" 
                            [ngClass]="{'is-invalid':notificationForm.controls.job_delivered.touched&&notificationForm.controls.job_delivered.hasError('required')}"
                            />
                            <span style="font-style:italic"  class="text-secondary fs-12">Note: Do not remove "job_order_id" as this will display the job order number.
                            </span>
                            <div class="form-validator" *ngIf="notificationForm.controls.job_delivered.touched">
                                <p class="mb-0" style="color: red" *ngIf="notificationForm.controls.job_delivered.hasError('required')">*This field is required</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin: 20px -25px;">
                <div class="d-flex flex-column" style="padding: 20px 0px;">
                    <p class="text-header fs-16 fw-700 mb-20 text-safari">Payment Status</p>    
                    <div class="col-md-12">
                        <div class="form-group mt-30">
                            <label class="fs-14 text-detail text-safari" for="payment_pending">Reminder for pending payment.</label>
                            <input type="text" 
                            autocomplete="off"
                            formControlName="payment_pending" 
                            class="form-control" 
                            id="payment_pending" 
                            [ngClass]="{'is-invalid':notificationForm.controls.payment_pending.touched&&notificationForm.controls.payment_pending.hasError('required')}"
                            />
                            <span style="font-style:italic"  class="text-secondary fs-12">Note: Do not remove "job_order_id" as this will display the job order number.
                            </span>
                            <div class="form-validator" *ngIf="notificationForm.controls.payment_pending.touched">
                                <p class="mb-0" style="color: red" *ngIf="notificationForm.controls.payment_pending.hasError('required')">*This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-30">
                        <div class="form-group">
                            <label class="fs-14 text-detail text-safari" for="payment_paid">When the job order has been paid.</label>
                            <input type="text" 
                            autocomplete="off"
                            formControlName="payment_paid" 
                            class="form-control" 
                            id="payment_paid" 
                            />
                            <span style="font-style:italic"  class="text-secondary fs-12 ml-10">Note: Do not remove "job_order_id" as this will display the job order number.
                            </span>
                        </div>
                    </div>
                </div>
                <hr style="margin: 20px -25px;">  
                <div class="d-flex align-items-center">
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="d-flex flex-column">
                            <p class="text-secondary fs-14">Last Updated</p>
                            <span class="text-detail fs-14" *ngIf="last_updated">{{last_updated | transformDate: '': 'L'}}</span>
                        </div>
                        <div class="d-flex flex-column ml-50">
                            <p class="text-secondary fs-14">Updated By</p>
                            <span class="text-detail fs-14" *ngIf="last_updated_by">{{last_updated_by}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end align-items-center">
                        <button class="btn-cancel d-flex align-items-center mr-15 text-safari" [routerLink]="['/admin/dashboard']">
                            Cancel                        
                        </button>
                        <button class="bttn btn-primary-pink d-flex align-items-center" (click)="updateNotifMessage();">
                            Save Changes                        
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ngx-smart-modal #success identifier="success" [customClass]="'modal-checkin-class nsm-centered'" closable="false">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M34 -1.03315e-06C52.7782 -1.03315e-06 68 15.2231 68 33.9992C68 52.7769 52.7782 68 34 68C15.2218 68 0 52.7769 0 33.9992C0 15.2231 15.2218 -1.03315e-06 34 -1.03315e-06Z" fill="#049561"/>
                <path d="M28.6585 40.4583L21.7085 33.5083L19.3418 35.8583L28.6585 45.175L48.6585 25.175L46.3085 22.825L28.6585 40.4583Z" fill="#00A651"/>
            </svg> 
        </div> 
        <div class="mt-30 d-flex justify-content-center">
            <p class="fs-20 fw-700 text-header">Notification successfully updated!</p>
        </div>
        <div class="mt-15 d-flex justify-content-center">
            <p class="fs-14 text-detail tC pl-100 pr-100">Notification messages has been</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="fs-14 text-detail tC pl-100 pr-100">successfully updated.</p>
        </div>
        <div class="mt-15 d-flex justify-content-center">
            <button class="bttn btn-primary-pink d-flex align-items-center justify-content-center" (click)="closeNotificationModal()" >Go back to Dashboard</button>
        </div>     
    </div>
</ngx-smart-modal>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > loading... </p></ngx-spinner>