.card {
   box-shadow: none;
   width: 400px !important;
   height: 580px !important;
   
}

.button-purple{
    border-radius: 6px;
    background-color: #C0024A;
    border: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
  }
  
  .button-purple:hover {background-color: #e21f6a}
    
  .button-purple:active {
      background-color: #e1e3ed;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
  }
.decline-msg-container{
    background: #FFF6F5;
    border-radius: 5px;
    border: 1px solid #DD1003;
    padding: 15px;
}

.a:hover {
    background-color: rgb(178, 212, 250);
}

.thee{
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
  font-weight: 700;
  color: #0A0929;
}

.welcome{
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: Manrope;
  color: #2C2C39;
}
.body-small-forgot-pass{
  font-family: Manrope;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #005DAB;
}