.back-page{
    a{
      &:hover{
        font-weight: 700;
        svg path{
          stroke-width: 1px;
          stroke: #C70039;
          }
        
      }
    }
}

#profile_photo{
    position: absolute;
    opacity: 0;
    cursor: pointer !important;
    left: -116px;
    font-size: 17px;
    color: #b8b8b8;
    width: 266px;

  }
  .button-upload{
    display: inline-block;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 14px;
    color: #C0024A;
    outline: none;
    text-align: center;
    border: 1px solid #C0024A;
        &:hover{
          background-color: #fcd8e7 !important;
    }
  }


  .italic{
    font-style: italic;
    margin-left: 10px;
  }

  span.required{
    color: #ff3333;
  }

  .btn_shipping{
    display: inline-block;
    background-color: #F5F9FF;
    border: 1px solid #DEE5EE;
    padding: 30px 15px !important;
    width: 100%;
    height: 100%;
    &:focus{
      outline: none;
    }
  }

  table{
    thead{
        tr{
            th{
                vertical-align: text-top;
                background-color: #fff !important;
                padding-bottom: 15px;
                &:last-child{
                    border-top-right-radius: 0px !important;
                    border-bottom-right-radius: 0px !important;
                    overflow: hidden;
                }
                &:first-child{
                    border-top-left-radius: 0px !important;
                    border-bottom-left-radius: 0px !important;
                    overflow: hidden;
                } 
            }
        }
    }
    tbody{
        tr{
            td{
                vertical-align: middle;
            }
        }
    }
}

.price_input{
  border-radius: 4px;
  border: 1px solid #9199A4 !important;
  background: #FFFFFF;
  width: 97px;
  height: 50px !important;
  padding: 10px;
      &:focus{
        outline: none;
      }
}
.circle{
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -4px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F7C800;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F7C800;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.modal-checkin-class{
   overflow: hidden; 
}

/* Stepper */
.container {
  width: 100%;
}

.step {
  
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  background-color: cream;
}

.v-stepper {
  position: relative;
/*   visibility: visible; */
}


/* regular step */
.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 30px;    /* +6 for border */
  height: 30px;
  padding-left: 8px;
  padding-top: 2px;
  display: inline-block;
}

.step .line {
    top: 30px;
  left: 13px;
/*   height: 120px; */
  height: 100%;
    
    position: absolute;
    border-left: 3px solid gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: #005DAB;
  border-color: #005DAB;
}

.step.completed .line {
  border: 1px solid #C2CBD7;
}

.step.active .circle {
visibility: visible;
  border-color: rgb(6,150,215);
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
/*     visibility: hidden; */
/*   height: 150%; */
  top: 0;
  height: 150%;
}


.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.content {
  margin-left: 20px;
  display: inline-block;
}

.dropzone{
  padding: 20px;
  text-align: center;
  border: 1px dashed #C0024A;
  border-radius: 8px;
  background-color: #FFF1F6;
  position: relative;
  margin: 0;

  input{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }

}

.body-small-txt{
  font-family: Manrope;
  font-size: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #0A0929;
}

.nsm-content{
  border-radius: 11px !important;
}

::ng-deep{
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px;
    display: none;
  }
}