// @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Roboto:wght@400;500&display=swap');

.wizard {
    //   display: grid;
      grid-template-columns: 320px 1fr;
      font-family: 'Roboto', sans-serif;
    }
    
    .process {
      box-model: border-box;
      align-self: center;
      justify-self: center;
      padding: 30px 0;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        li {
          &.step {
            .name {
              display: flex;
              align-items: center;
              color: #939393;
              &:before {
                content: '';
                width: 30px;
                height: 30px;
                display: inline-block;
                border-radius: 50%;
                margin-right: 8px;
                background: #ddd;
              }
            }
            &.completed {
              .name {
                color: #eab000;
                &:before {
                  content: '\2713';
                  color: white;
                  font-size: 1.7em;
                  text-align: center;
                  background: #28a745;
                }
              }
            }
            &.current {
              .name {
                color: #E74700;
                &:before {
                  background: radial-gradient(#eab000 0%, #eab000 50%,transparent 51%);
                  border: 3px solid #eab000;
                  box-shadow: 0 0 18px lighten(#E74700,24%);
                  box-shadow: 0 0 18px lighten(#E74700,24%);
                  animation: 1750ms linear infinite pulse;
                }
              }
            }
          &:not(:last-child):after {
            height: 48px;
            width: 3px;
            content: '';
            display: block;
            background-color: #ddd;
            margin-left: 13px;
            margin-top: 5px;
            margin-bottom: 8px;
          }
            &.completed {
              &:not(:last-child):after {
                background-color: #28a745;
              }
            }
        }
        }
      }
      &.done {
        ul li {
          &.step {
            .name {
              color: #33673B;
              &:before {
                background: #33673B;
                box-shadow: none;
                content: '\2713';
                color: white;
                font-size: .8em;
                text-align: center;
              }
            }
            &:not(:last-child):after {
              background-color: #33673B;
              box-shadow: 0 0 8px lighten(#33673B,35%);
            }
          }
        }
      }
    }
    
    
    #col9{
      max-height: 472px;
    }
    
    @keyframes pulse {
      0% {
        box-shadow: 0 0 2px lighten(#E74700,24%);
      }
      80% {
        box-shadow: 0 0 18px lighten(#E74700,24%);
      }
      100% {
        box-shadow: 0 0 2px lighten(#E74700,24%);
      }
    }
    
    .badge-dark {
        background-color: #403e3e;
        font-size: 15px;
        border-radius: 10px !important;
    }
    
    
    .cards{
      width: 370px;
      background-color: #ffffff;
      color: #000000;
      // box-shadow: 0px 0px 2px #ffffff;
      border-radius: 8px;
    }
    
    .cards{
      border-radius: 8px;
      border: 0px;
      // box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
      // box-shadow: 0px 8px 40px #e9ebf7;
      margin-bottom: 20px;
      .cards-header{
          background-color:#fff;
          border: 0;
          padding: 25px;
          padding-bottom: 25px;
          border-radius: 16px 16px 0px 0px;
          .cards-title{
              font-size: 18px;
              font-weight: 500;
              margin: 0px;
          }
      }
      .cards-body{
          padding: 25px;
          // box-shadow: 1px 0px 20px 0px #d9defc;
      }
    }
    
    hr {
      background-color: #979797;
      height: 1px;
    }
    
    td{
      font-size: 16px;
      padding: 20px 0px;
    }
    
    .button-secondary-transparent{
      border-radius: 2px;
      background-color: transparent;
      border: 0px;
      color: #ABABAB;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
    
    .button-purple-transparent{
      border-radius: 8px;
      background-color: transparent;
      border-color: #C0024A;
      color: #C0024A;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
    
    .button-purple{
      border-radius: 6px;
      background-color: #C0024A;
      border: 0px;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }
    
    
    button:focus {
      outline: 1px dotted;
      outline: #ffffff;
    }
  
    .body-small-body{
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      line-height: 21px;
      font-weight: 700;
      color: #626172;
    }
    
    .body-text-bold{
      font-weight: 700;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
      color: #626172;
    }
  
    .body-text-sub{
      font-weight: 700;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
      color:#0A0929;
    }
  
    .total{
      font-family: Manrope;
      font-style: normal;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      color: #005DAB;
    }
  
    .go-back{
      color: #C0024A;
      font-weight: 500;
      font-size: 16px;
      font-family: Epilogue;
      line-height: 16.4px;
      font-style: normal;
    }
  
    .details{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      font-style: normal;
      color: #4E545C;
    }
  
    .g-details{
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      font-family: Manrope;
      color: #0A0929;
    }
  
    .con-jo{
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      font-family: Manrope;
      color: #626172;
    }

    .paper_rip{
      position: relative;
      background-image: url("/assets/images/paper-rip.png");
      height: 192px;
      background-size: contain;
      overflow: hidden;
      padding: 30px 15px !important;
      background-repeat: no-repeat;
      margin-left: 0px !important; 
    }

    @-moz-document url-prefix() {
      .moz-row{
        width: 100%;
      }
    }