table{
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    thead{
        tr{
            th{
                background-color: #fff !important;
                padding-bottom: 15px;
            }
        }
    }
}