<div class="container mt-30">
    <button class="button-purple-transparent text-safari" [routerLink]="['/admin/admin_cms']"><img src="assets/images/arrow_right_pink.png">Back to List</button>
    <h3 class="font-weight-bold mt-30 text-safari" style="color: #0A0929;">Services</h3>
</div>

<div class="container mt-30">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="servicesForm">
                <p class="fs-16 fw-700 text ml-20 text-safari">Service 1</p>
                <div class="mt-15">
                    <div class="col-md-12">
                        <div class="row ml-5">
                            <div class="col-3 p-0">
                                <ng-container *ngIf="!cProfilePhoto">
                                    <div class="cms-image">
                                        <img *ngIf="croppedService1" class="h-173 D-flex justify-content-center" [src]="croppedService1" />
                                        <img *ngIf="!croppedService1" class="h-173 D-flex justify-content-center" src="{{userService.image_path}}/cms_logo/{{Services.cms_services_logo}}">
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="cProfilePhoto">
                                    <div class="cms-image">
                                        <img class="h-173 D-flex justify-content-center" [src]="cProfilePhoto" />
                                    </div>
                                </ng-container>
                            </div>  
                            <div class="col-8 p-0 mt-50">
                                <div class="form-group inline-grid w-500 p-0 m-0 button-wrap">
                                    <div class="flex ai-center" style="position: relative;">
                                        <button class="button-upload" for="profile_photo">
                                            <svg style="vertical-align: middle;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.375V7.875H14.25L9 2.625L3.75 7.875H6.75V12.375H11.25ZM9 4.7475L10.6275 6.375H9.75V10.875H8.25V6.375H7.3725L9 4.7475ZM14.25 15.375V13.875H3.75V15.375H14.25Z" fill="#47494b"/>
                                            </svg>
                                                Choose a file
                                        </button>
                                        <input type="file" 
                                        (change)="servicesLogoChange($event)"
                                        accept="image/jpeg, image/png"
                                        formControlName="cms_services_logo" 
                                        class="form-control" 
                                        id="profile_photo"/>
                                        <ng-container *ngIf="Services.cms_services_logo;">
                                            <span class="italic d-flex align-items-center">{{Services.cms_services_logo}}</span>
                                        </ng-container>
                                        <!-- <ng-container *ngIf="cms_services_logo; else noImage">
                                            <span class="italic">{{cms_services_logo}}</span>
                                        </ng-container>
                                        <ng-template #noImage> 
                                            <span class="italic">No file choosen</span>
                                        </ng-template> -->
                                    </div>
                                </div>
                                
                                <div class="text-secondary fs-12 mt-15">
                                    <p class="m-0 text-grey fs-12">Maximum image file size is 1MB. Try rezising it to atleast 500x500 px in resolution.</p>
                                    <input type="hidden" name="hidden_cms_services_logo" formControlName="hidden_cms_services_logo"/>
                                </div>
                                <div class="form-validator" *ngIf="servicesForm.controls.hidden_cms_services_logo.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.hidden_cms_services_logo.hasError('required')">*Services Photo is required</p>
                                </div>
                                <ngx-smart-modal #cropperviewer identifier="cropperviewer" closable="false" [customClass]="'modal-cropper-class p-30'">
                                    <div class="card-body">
                                        <p style="font-weight: 500; font-size: 16px;">Crop image</p>
                                        <hr style="background-color: #e0dbdb;">
                                        <div id="cropper-container">
                                            <image-cropper 
                                                [imageChangedEvent]="imageChangedEvent" 
                                                [maintainAspectRatio]="true" 
                                                [aspectRatio]="5 / 5"
                                                format="png,jpg,jpeg,ico" 
                                                alignImage="center" 
                                                imageQuality="50" 
                                                (imageCropped)="imageCropped($event)"
                                                (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                                            </image-cropper>
                                            <hr class="mt-10" style="background-color: #e0dbdb;">
                                            <div style="text-align: right;">
                                                <button id="crop-photo-action" class="button-red-rounded mt-10 ml-20"
                                                (click)="dismissCropperModal()" style="height:35px;padding:0px 27px">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </ngx-smart-modal>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Title</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '30px', margin: 0}"></ngx-skeleton-loader></p>
                        <ng-container *ngIf="!isLoading">
                            <div class="form-group">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="cms_services_title"
                                    [ngClass]="{'is-invalid':servicesForm.controls.cms_services_title.touched&&servicesForm.controls.cms_services_title.hasError('required')}"
                                >
                                <div class="form-validator" *ngIf="servicesForm.controls.cms_services_title.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.cms_services_title.hasError('required')">*This field is required</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Title 1</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '30px', margin: 0}"></ngx-skeleton-loader></p>
                        <ng-container *ngIf="!isLoading">
                            <div class="form-group">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="cms_services_title3"
                                    [ngClass]="{'is-invalid':servicesForm.controls.cms_services_title3.touched&&servicesForm.controls.cms_services_title3.hasError('required')}"
                                >
                                <div class="form-validator" *ngIf="servicesForm.controls.cms_services_title3.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.cms_services_title3.hasError('required')">*This field is required</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Description</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '200px', margin: 0}"></ngx-skeleton-loader></p>
                        <ng-container *ngIf="!isLoading">
                            <div class="form-group">
                                <ckeditor 
                                    [editor]="Editor" 
                                    formControlName="cms_services_description"
                                    [ngClass]="{'is-invalid':servicesForm.controls.cms_services_description.touched&&servicesForm.controls.cms_services_description.hasError('required')}"
                                ></ckeditor>
                                <div class="form-validator" *ngIf="servicesForm.controls.cms_services_description.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.cms_services_description.hasError('required')">*This field is required</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12"><hr></div>

                <p class="fs-16 fw-700 text ml-20 text-safari">Service 2</p>
                <div class="mt-15">
                    <div class="col-md-12">
                        <div class="row ml-5">
                            <div class="col-3 p-0">
                                <ng-container *ngIf="!cprofilePhoto">
                                    <div class="cms-image">
                                        <img *ngIf="croppedService2"  class="h-173 D-flex justify-content-center" [src]="croppedService2" />
                                        <img *ngIf="!croppedService2"  class="h-173 D-flex justify-content-center" src="{{userService.image_path}}/cms_logo/{{Services.cms_services_logo1}}">
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="cprofilePhoto">
                                    <div class="cms-image">
                                        <img  class="h-173 D-flex justify-content-center" [src]="cprofilePhoto" />
                                    </div>
                                </ng-container>
                            </div>

                            <div class="col-8 p-0 mt-20">
                                <div class="form-group inline-grid w-500 p-0 m-0 button-wrap">
                                    <div class="flex ai-center" style="position: relative;">
                                        <button class="button-upload" for="profile_photo">
                                            <svg style="vertical-align: middle;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.375V7.875H14.25L9 2.625L3.75 7.875H6.75V12.375H11.25ZM9 4.7475L10.6275 6.375H9.75V10.875H8.25V6.375H7.3725L9 4.7475ZM14.25 15.375V13.875H3.75V15.375H14.25Z" fill="#47494b"/>
                                                </svg>
                                                Choose a file</button>
                                        <input 
                                            type="file" 
                                            (change)="servicesLogo1Change($event)"
                                            accept="image/jpeg, image/png"
                                            formControlName="cms_services_logo1" 
                                            class="form-control" 
                                            id="profile_photo"
                                        />
                                        <ng-container *ngIf="Services.cms_services_logo1;">
                                            <span class="italic d-flex align-items-center">{{Services.cms_services_logo1}}</span>
                                        </ng-container>
                                        <!-- <ng-container *ngIf="cms_services_logo1; else noImage">
                                            <span class="italic">{{cms_services_logo1}}</span>
                                        </ng-container>
                                        <ng-template #noImage> 
                                            <span class="italic">No file choosen</span>
                                        </ng-template> -->
                                    </div>
                                </div>
                                
                                <div class="text-secondary fs-12 mt-15">
                                    <p class="m-0 text-grey fs-12">Maximum image file size is 1MB. Try rezising it to atleast 500x500 px in resolution.</p>
                                    <input type="hidden" name="hidden_cms_services_logo1" formControlName="hidden_cms_services_logo1"/>
                                </div>
                                <div class="form-validator" *ngIf="servicesForm.controls.hidden_cms_services_logo1.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.hidden_cms_services_logo1.hasError('required')">*Profile photo is required</p>
                                </div>
                                <ngx-smart-modal #cropperviewer2 identifier="cropperviewer2" closable="false" [customClass]="'modal-cropper-class p-30'">
                                    <div class="card-body">
                                        <p style="font-weight: 500; font-size: 16px;">Crop image</p>
                                        <hr style="background-color: #e0dbdb;">
                                        <div id="cropper-container">
                                            <image-cropper 
                                                [imageChangedEvent]="imgChangedEvent" 
                                                [maintainAspectRatio]="true" 
                                                [aspectRatio]="5 / 5"
                                                format="png,jpg,jpeg,ico" 
                                                alignImage="center" 
                                                imageQuality="50" 
                                                (imageCropped)="imgCropped($event)"
                                                (imageLoaded)="imageLoaded()" 
                                                (cropperReady)="cropperReady()" 
                                                (loadImageFailed)="loadImageFailed()">
                                            </image-cropper>
                                            <hr class="mt-10" style="background-color: #e0dbdb;">
                                            <div style="text-align: right;">
                                                <button id="crop-photo-action" class="button-red-rounded mt-10 ml-20"
                                                (click)="dismisscropperModal()" style="height:35px;padding:0px 27px">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </ngx-smart-modal>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Title</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '30px', margin: 0}"></ngx-skeleton-loader></p>
                        <ng-container *ngIf="!isLoading">
                            <div class="form-group">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="cms_services_title1"
                                    [ngClass]="{'is-invalid':servicesForm.controls.cms_services_title1.touched&&servicesForm.controls.cms_services_title1.hasError('required')}"
                                >
                                <div class="form-validator" *ngIf="servicesForm.controls.cms_services_title1.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.cms_services_title1.hasError('required')">*This field is required</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Title 1</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '30px', margin: 0}"></ngx-skeleton-loader></p>
                        <ng-container *ngIf="!isLoading">
                            <div class="form-group">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="cms_services_title4"
                                    [ngClass]="{'is-invalid':servicesForm.controls.cms_services_title4.touched&&servicesForm.controls.cms_services_title4.hasError('required')}"
                                >
                                <div class="form-validator" *ngIf="servicesForm.controls.cms_services_title4.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.cms_services_title4.hasError('required')">*This field is required</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Description</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '200px', margin: 0}"></ngx-skeleton-loader></p>
                        <ng-container *ngIf="!isLoading">
                            <div class="form-group">
                                <ckeditor [editor]="Editor" formControlName="cms_services_description1"></ckeditor>
                                <div class="form-validator" *ngIf="servicesForm.controls.cms_services_description1.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.cms_services_description1.hasError('required')">*This field is required</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div> 
                <div class="col-md-12"><hr></div>

                <p class="fs-16 fw-700 text ml-20 text-safari">Service 3</p>
                <div class="mt-15">
                    <div class="col-md-12">
                        <div class="row ml-5">
                            <div class="col-3 p-0">
                                <ng-container *ngIf="!cprofilePhotos">
                                    <div class="cms-image">
                                        <img *ngIf="croppedService3"  class="h-173 D-flex justify-content-center" [src]="croppedService3" />
                                        <img *ngIf="!croppedService3"  class="h-173 D-flex justify-content-center" src="{{userService.image_path}}/cms_logo/{{Services.cms_services_logo2}}">
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="cprofilePhotos">
                                    <div class="cms-image">
                                        <img  class="h-173 D-flex justify-content-center" [src]="cprofilePhotos" />
                                    </div>
                                </ng-container>
                            </div>
                            <div class="col-8 p-0 mt-20">
                                <div class="form-group inline-grid w-500 p-0 m-0 button-wrap">
                                    <div class="flex ai-center" style="position: relative;">
                                        <button class="button-upload" for="profile_photo">
                                            <svg style="vertical-align: middle;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.375V7.875H14.25L9 2.625L3.75 7.875H6.75V12.375H11.25ZM9 4.7475L10.6275 6.375H9.75V10.875H8.25V6.375H7.3725L9 4.7475ZM14.25 15.375V13.875H3.75V15.375H14.25Z" fill="#47494b"/>
                                            </svg>
                                                Choose a file
                                        </button>
                                        <input 
                                            type="file" 
                                            (change)="servicesLogo2Change($event)"
                                            accept="image/jpeg, image/png"
                                            formControlName="cms_services_logo2" 
                                            class="form-control" 
                                            id="profile_photo"
                                        />
                                        <ng-container *ngIf="Services.cms_services_logo2;">
                                            <span class="italic d-flex align-items-center">{{Services.cms_services_logo2}}</span>
                                        </ng-container>
                                        <!-- <ng-container *ngIf="cms_services_logo2; else noImage">
                                            <span class="italic">{{cms_services_logo2}}</span>
                                        </ng-container>
                                        <ng-template #noImage> 
                                            <span class="italic">No file choosen</span>
                                        </ng-template> -->
                                    </div>
                                </div>
                                
                                <div class="text-secondary fs-12 mt-15">
                                    <p class="m-0 text-grey fs-12">Maximum image file size is 1MB. Try rezising it to atleast 500x500 px in resolution.</p>
                                    <input type="hidden" name="hidden_cms_services_logo2" formControlName="hidden_cms_services_logo2"/>
                                </div>
                                <div class="form-validator" *ngIf="servicesForm.controls.hidden_cms_services_logo2.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.hidden_cms_services_logo2.hasError('required')">*Profile photo is required</p>
                                </div>
                                <ngx-smart-modal #cropperviewer3 identifier="cropperviewer3" closable="false" [customClass]="'modal-cropper-class p-30'">
                                    <div class="card-body">
                                        <p style="font-weight: 500; font-size: 16px;">Crop image</p>
                                        <hr style="background-color: #e0dbdb;">
                                        <div id="cropper-container">
                                            <image-cropper 
                                                [imageChangedEvent]="imagesChangedEvent" 
                                                [maintainAspectRatio]="true" 
                                                [aspectRatio]="5 / 5"
                                                format="png,jpg,jpeg,ico" 
                                                alignImage="center" 
                                                imageQuality="50" 
                                                (imageCropped)="imagedCropped($event)"
                                                (imageLoaded)="imageLoaded()" 
                                                (cropperReady)="cropperReady()" 
                                                (loadImageFailed)="loadImageFailed()">
                                            </image-cropper>
                                            <hr class="mt-10" style="background-color: #e0dbdb;">
                                            <div style="text-align: right;">
                                                <button id="crop-photo-action" class="button-red-rounded mt-10 ml-20"
                                                (click)="dismissCropperservicesModal()" style="height:35px;padding:0px 27px">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </ngx-smart-modal>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-20">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Title</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '30px', margin: 0}"></ngx-skeleton-loader></p>
                        <ng-container *ngIf="!isLoading">
                            <div class="form-group">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    formControlName="cms_services_title2"
                                    [ngClass]="{'is-invalid':servicesForm.controls.cms_services_title2.touched&&servicesForm.controls.cms_services_title2.hasError('required')}"
                                >
                                <div class="form-validator" *ngIf="servicesForm.controls.cms_services_title2.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.cms_services_title2.hasError('required')">*This field is required</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <p class="fs-14 fw-400 mt-20" style="color: #2C2C39;">Description</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '200px', margin: 0}"></ngx-skeleton-loader></p>
                        <ng-container *ngIf="!isLoading">
                            <div class="form-group">
                                <ckeditor [editor]="Editor" formControlName="cms_services_description2"></ckeditor>
                                <div class="form-validator" *ngIf="servicesForm.controls.cms_services_description2.touched">
                                    <p class="mb-0" style="color: red" *ngIf="servicesForm.controls.cms_services_description2.hasError('required')">*This field is required</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-md-12"><hr></div>

                <div class="row">
                    <div class="col-md-2">
                        <p>Last Updated</p>
                        <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '30px', margin: 0}"></ngx-skeleton-loader></p>
                            <ng-container *ngIf="!isLoading">
                                <p>{{Services.updated_at | transformDate: '': 'L'}}</p>
                            </ng-container>
                    </div>

                    <div class="col-md-5">
                            <p>Updated By</p>
                            <p *ngIf="isLoading"><ngx-skeleton-loader [theme]="{width: '100%', height: '30px', margin: 0}"></ngx-skeleton-loader></p>
                            <ng-container *ngIf="!isLoading">
                                <p>{{Services.user_profile_first_name}} {{Services.user_profile_last_name}}</p>
                            </ng-container>
                    </div>

                    <div class="col-md-2">
                        <button [routerLink]="['/admin/admin_cms']" class="button-white">Cancel</button>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" (click)="updateServices()" class="button-purple-rounded  fs-16 lh-24 h-46 fw-400">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ngx-smart-modal #success identifier="success" [customClass]="'modal-checkin-class nsm-centered'" closable="false">
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.08" fill-rule="evenodd" clip-rule="evenodd" d="M34 -1.03315e-06C52.7782 -1.03315e-06 68 15.2231 68 33.9992C68 52.7769 52.7782 68 34 68C15.2218 68 0 52.7769 0 33.9992C0 15.2231 15.2218 -1.03315e-06 34 -1.03315e-06Z" fill="#049561"/>
                <path d="M28.6585 40.4583L21.7085 33.5083L19.3418 35.8583L28.6585 45.175L48.6585 25.175L46.3085 22.825L28.6585 40.4583Z" fill="#00A651"/>
            </svg> 
        </div> 
        <div class="mt-30 d-flex justify-content-center">
            <p class="fs-20 fw-700 text-header">Services Successfully Updated!</p>
        </div>
        <div class="mt-15 d-flex justify-content-center">
            <p class="fs-14 text-detail tC pl-100 pr-100">Services has been successfully updated in our database.</p>
        </div>
        <div class="mt-15 d-flex justify-content-center">
            <button class="bttn btn-primary-pink d-flex align-items-center justify-content-center" (click)="closeModal()">Go back to Website CMS</button>
        </div>     
    </div>
</ngx-smart-modal>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > loading... </p></ngx-spinner>